header{
   display: flex;
   flex-wrap: wrap;
   border: 1px black solid;
}
 
header h1 {
   width: 50%;
   border: 1px hotpink solid;
}

header nav {
   width: 50%;
   border: 1px hotpink solid;
}

nav ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

figure {
   background-image: url(https://cdn.pixabay.com/photo/2019/08/17/19/13/landscape-4412784_1280.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 200px;
}

img{
   width: 100%;
}

.left-side{
   display:flex;
   flex-wrap: wrap;
   margin-top: 20px;
}

.left-side .title{
width: 10%;
border-right: 2px black solid;
text-align: right;
}

.left-side .section-container{
width: 88%;
display: flex;
flex-wrap: wrap;
justify-content: space-between; 
margin-left: 130px;

}

.card{
width: 45%;
position: relative;
margin-top: 20px;
}
.card h3{
   position: absolute;
   z-index: 1;
   bottom: 10%;
}
.section-container ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 120%;
}

#image1{
   position: relative;
   margin-top: 20px;
}

#image1 h3{
   position: absolute;
   z-index: 1;
   bottom: 10%;
}

