header{
   display: flex;
   flex-wrap: wrap;
   border: 1px black solid;
}
 
header h1 {
   width: 50%;
   border: 1px black solid;
}

header nav {
   width: 50%;
   border: 1px black solid;
}

nav ul{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

figure {
   background-image: url(https://cdn.pixabay.com/photo/2019/08/17/19/13/landscape-4412784_1280.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   height: 200px;
}

img{
   width: 100%;
}

.section-container{
   width: 100%;
}

.left-side{
   display:flex;
   flex-wrap: wrap;
   margin-top: 20px;
   margin-right: 20px;
   width: 95%;

}

.left-side .title{
width: 10%;
text-align: right;
/* height: 100%; */
}

.left-side .section-container{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center; 
margin-left: 150px;

}
.card-container{
   justify-content: space-between !important;

}
.card{
width: 44%;
position: relative;
margin-top: 20px;
/* margin: auto; */
}
.card h3{
   position: absolute;
   z-index: 1;
   bottom: 10%;
}
.section-container ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 88%;
}

#image1{
   position: relative;
   margin-top: 20px;
}

#image1 h3{
   position: absolute;
   z-index: 1;
   bottom: 10%;
}

#contact{
   width: 100%;
}